{{ 'section-contact-form.css' | asset_url | stylesheet_tag }}

<div class="color-{{ section.settings.color_scheme }} gradient">
  <section class="get-in-touch-form-sec">
    <div class="container">
        <div class="get-in-touch">
           
            {%- if section.settings.heading != blank -%}
            <h3 >{{ section.settings.heading  }}</h3>
            {%- else -%}
            <h3 class="visually-hidden">{{ 'templates.contact.form.title' | t }}</h3>
            {%- endif -%}
            <p> {{ section.settings.info }} </p>

            {%- form 'contact', id: 'ContactForm', class: 'isolate' -%}
                {%- if form.posted_successfully? -%}
              <div class="form-status form-status-list form__message" tabindex="-1" autofocus>{% render 'icon-success' %} {{ 'templates.contact.form.post_success' | t }}</div>
              {%- elsif form.errors -%}
              <div class="form__message">
              <h2 class="form-status caption-large text-body" role="alert" tabindex="-1" autofocus>{% render 'icon-error' %} {{ 'templates.contact.form.error_heading' | t }}</h2>
              </div>
              <ul class="form-status-list caption-large" role="list">
                <li>
                  <a href="#ContactForm-email" class="link">
                  {{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}
                  </a>
                </li>
              </ul>
              {%- endif -%}
                <div class="input-container">                
                    <input type="text" autocomplete="first_name" id="ContactForm-first_name" name="contact[first_name]" value="{% if form.first_name %}{{ form.first_name }}{% elsif customer %}{{ customer.first_name }}{% endif %}" placeholder="First name">
                </div>
                <div class="input-container">
                    <input type="text" autocomplete="last_name" id="ContactForm-last_name" name="contact[last_name]" value="{% if form.last_name %}{{ form.last_name }}{% elsif customer %}{{ customer.last_name }}{% endif %}" placeholder="last name">
                </div>
                <div class="input-container">
                    <input type="email" required="required" autocomplete="email" id="ContactForm-email" name="contact[email]" value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}" placeholder="email address">
                </div>
                <div class="input-container">
                    <input type="tel" autocomplete="telephone" id="ContactForm-telephone" name="contact[telephone]" value="{% if form.phone %}{{ form.phone }}{% elsif customer %}{{ customer.phone }}{% endif %}" placeholder="phone number">
                </div>
                <div class="input-container width-100">
                    <input type="text" autocomplete="title" id="ContactForm-title" name="contact[title]" value="{% if form.title %}{{ form.title }}{% endif %}" placeholder="subject">
                </div>
                <div class="input-container width-100">
                    <textarea autocomplete="body" id="ContactForm-message" name="contact[body]" placeholder="write your message here">{{ form.body }}</textarea>
                </div>
                <div class="input-submit">
                    <input type="submit" value="{{ 'templates.contact.form.send' | t }}">
                </div>
              {%- endform -%}
        </div>
    </div>
</section>
</div>

{% schema %}
{
  "name": "t:sections.contact-form.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "default": "Contact form",
      "label": "Heading"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.options__1.label"
        },
        {
          "value": "h1",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "h0",
          "label": "t:sections.all.heading_size.options__3.label"
        }
      ],
      "default": "h1",
      "label": "t:sections.all.heading_size.label"
    },
    {
      "type": "textarea",
      "id": "info",
      "label": "Description",
      "default": "Description"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "accent-1",
          "label": "t:sections.all.colors.accent_1.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.all.colors.accent_2.label"
        },
        {
          "value": "background-1",
          "label": "t:sections.all.colors.background_1.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.all.colors.background_2.label"
        },
        {
          "value": "inverse",
          "label": "t:sections.all.colors.inverse.label"
        }
      ],
      "default": "background-1",
      "label": "t:sections.all.colors.label"
    }
  ],
  "presets": [
    {
      "name": "t:sections.contact-form.presets.name"
    }
  ]
}
{% endschema %}
