<footer>
    <div class="container">
        <div class="footer-logo">
            <a href="{{ routes.roote_url }}">
                {% if section.settings.use_svg %}
                      <img src="{{  section.settings.svg_logo }}" alt="footer-logo">
                {% else %}
                    <img src="{{  section.settings.logo | asset_img_url: 'master' }}" alt="footer-logo">
                {% endif %}
            </a>
        </div>
        <div class="footer-flex">
            <div class="f-contact-info">
                {% if section.settings.address != blank %}
                <h6> {{ section.settings.address_text }} </h6>
                <span>{{ section.settings.address }}</span>
                <br>
                {% endif %}
                {% if section.settings.email != blank %}                
                <h6>{{ section.settings.email_text }}</h6>
                <a href="mailto:{{ section.settings.email }}">{{ section.settings.email }}</a>
                <br>
                {% endif %}
                {% if section.settings.website != blank %}
                <h6> {{ section.settings.website_text }} </h6>
                <a href="{{ shop.url }}">{{ section.settings.website }}</a>
                {% endif %}
            </div>
            <div class="f-shop-links">
                <h5>{{ linklists[section.settings.footer_menu].title }}</h5>
                <ul>
                    {% for link in linklists[section.settings.footer_menu].links %}
                    <li><a href="{{ link.url }}"> {{ link.title }} </a></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="f-social-links">
                <h5>{{ section.settings.social_media_text }}</h5>
                <ul>
                    {% if settings.social_facebook_link %}
                    <li><a href="{{ settings.social_facebook_link }}">Facebook</a></li>
                    {% endif %}
                    {% if settings.social_twitter_link %}
                    <li><a href="{{ settings.social_twitter_link }}">Twitter</a></li>
                    {% endif %}
                    {% if settings.social_instagram_link %}
                    <li><a href="{{ settings.social_instagram_link }}">Instagram</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <p> &copy; {{ 'now' | date : "%Y"  }}  {{ section.settings.copyright_text }}</p>
        </div>
    </div>
</footer>


{% schema %}
{
    "name": "Footer",
    "settings": [
            {
                "type" : "header",
                "content" : "Logo"
            },
            {
                "type": "checkbox",
                "id": "use_svg",
                "label": "Use SVG",
                "default": true
            }, 
            {
                "type": "text",
                "id": "svg_logo",
                "label": "SVG Logo"
            },
            {
                "type": "image_picker",
                "id": "logo",
                "label": "Logo"
            },
            {
                "type" : "header",
                "content" : "Contact Details"
            },
            {
                "type": "text",
                "id": "address_text",
                "label": "Address Text"
            },
           {
               "type": "text",
               "id": "address",
               "label": "Address"
           },
           {
               "type": "text",
               "id": "email_text",
               "label": "Email Text"
           },
          {
              "type": "text",
              "id": "email",
              "label": "Email"
          },
          {
              "type": "text",
              "id": "website_text",
              "label": "Website Text"
          },
         {
             "type": "text",
             "id": "website",
             "label": "Website"
         },
        {
            "type": "link_list",
            "id": "footer_menu",
            "label": "Footer Menu"
        },
       {
           "type": "text",
           "id": "social_media_text",
           "label": "Social Media Text"
       },
      {
          "type": "header",
          "content": "Copyright"
      },
     {
         "type": "textarea",
         "id": "copyright_text",
         "label": "Copyright Text"
     }
    ]
}
{% endschema %}