<section class="dyutih-twosimg position-relative-sec">
    {% for block in section.blocks %}
       {% assign product in all_products[block.settings.featured_product] %}
        <div class="dyutih-img-col">
            <img src="{{ product.featured_image | img_url: 'master' }}" loading = "lazy" alt="{{ product.title }}">
            <div class="dyutih-hover-product">
                <h5>{{ product.title }}</h5>
                <span>{{ product.price }}</span>
                <button><img src="{{ 'product-bag.svg' | asset_url }}" loading="lazy" alt="product-bag"></button>
            </div>
        </div>
    {% endfor %}
</section>

{% schema %}
{
    "name" : "Featured Products",
   "settings": [
   ],
   "blocks" : [
        {
           "type": "Featured_Product",
           "name" : "Featured Product",
           "limit": 2,
          "settings": [
                {
                    "type": "product",
                    "id": "featured_product",
                    "label": "Featured Product"
                }
          ]
        }
   ],
   "presets":[
    {
        "name": "Featured Products",
        "category": "Custom Section"
    }
   ]
}
{% endschema %}