<section class="about-rows-sec skin-care-kits">
    <div class="container">
        {% for block in section.blocks %}
        {% assign collect = collections[block.settings.collection] %}
        <div class="row">
            <div class="col-md-6">
                <div class="mission-statement-text">
                    <h6> {{ collection.metafields.my_fields.collection_product_subtitle }} </h6>
                    <h2> {{ collect.title }} </h2>
                    <p>{{ collect.description | split: '.' | first }}</p>
                    <div class="custom-site-btn">
                        <a href="{{ collect.url }}"><img src="{{ 'button-arrow.svg' | asset_url }}" alt="">SHOP NOW </a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="mission-statement-img">
                    <img src="{{ collect.image | img_url: 'master' }}" alt="{{ collect.title }}">
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>

{% schema %}
{
    "name" : "Skin Care Collection",
    "settings" :[
    ],
    "blocks":[
        {
            "name":"Skin Care Collection",
            "type":"skin-care-collection",
            "settings":[
               {
                   "type": "collection",
                   "id": "collection",
                   "label": "Collection"
               }
            ]
        }    
    ]
}
{% endschema %}